//SCREEN WIDTH
xs            =       600px;
sm            =       960px;
md            =       1280px;
lg            =       1920px;
//FONT COLORS
dark          =       #282828;
light         =       #fff;
faded          =      #888;
accent        =       #6AADC8;
accent1       =       #2880B9;
error         =       #B22222;
//BG COLORS
bg-dark       =       #2D3238;
bg-light      =       #F2F2F2;
bg-white      =       #FFF;
bg-overlay    =       rgba(255, 255, 255, .8);
bg-accent     =       linear-gradient(90deg, accent1, accent, accent1);
//FONT
primary-font  =       'Oxygen', sans-serif;
accent-font   =       'Caveat', cursive;

gradient-text(gradient = bg-accent)
  background: gradient;
  background-clip: text;
  color: transparent;